@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
html {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  background: #ECC4F9;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body.home {
  margin: 0;
  height: 100%;
  width: 100%;
}
body.home.minimized {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.first-container {
  width: 40%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .first-container {
    width: 95%;
  }
}
.first-container.visible {
  opacity: 1;
}
body.minimized .first-container {
  top: 70px;
  opacity: 0;
}
.first-container h1 {
  margin: 0 0 30px 0;
}
@media screen and (max-width: 500px) {
  .first-container h1 {
    font-size: 35px;
  }
}

.name {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.nav {
  flex: 1 0 100%;
  width: 300px;
}
@media screen and (max-width: 500px) {
  .nav {
    width: 70%;
    margin-top: 40px;
  }
}
.nav ul {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .nav ul {
    flex-direction: column;
    list-style-image: disc;
  }
}
.nav ul li {
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav ul li a .fa {
  margin-right: 30px;
}
@media screen and (min-width: 501px) {
  .nav ul li a .fa {
    display: none;
  }
}
.nav ul li a .fa.fa-blog {
  color: #d60270;
}
.nav ul li a .fa.fa-file-code-o {
  color: #9b4f96;
}
.nav ul li a .fa.fa-envelope-o {
  color: #0038a8;
}
.nav ul li a .fa.fa-spa {
  color: grey;
}
@media screen and (max-width: 500px) {
  .nav ul li {
    justify-content: left;
  }
}
.nav ul li .link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  margin-right: 5px;
}
@media screen and (max-width: 500px) {
  .nav ul li .link {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.nav ul li .link::after {
  content: "";
  display: block;
  margin-top: 1px;
  margin-left: -120%;
  width: 100%;
  height: 2px;
  background: black;
  transition: margin-left 0.15s linear;
}
.nav ul li .link:hover::after, .nav ul li .link:active::after {
  margin-left: 0;
}
.nav ul li .link.nav-link-1::after {
  background: #d60270;
}
.nav ul li .link.nav-link-2::after {
  background: #9b4f96;
}
.nav ul li .link.nav-link-3::after {
  background: #0038a8;
}
.nav ul li .link.nav-link-4::after {
  background: grey;
}

.contact {
  opacity: 0;
  transition: opacity 0.2s linear;
  width: 100%;
}
.contact ul.icons {
  cursor: default;
  padding: 10px 10px;
  border: none;
  margin-left: 40%;
  margin-top: 10%;
}
@media screen and (max-width: 756px) {
  .contact ul.icons {
    margin-left: 10%;
  }
}
.contact li {
  list-style-type: none;
  display: inline;
  margin: 10px, 20px;
  color: #464646;
}
.contact .fa {
  padding: 10px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.contact .fa:hover {
  opacity: 0.7;
}
.contact .fa-linkedin {
  background: #007bb5;
  color: white;
}
.contact .fa-angellist {
  background: #ff6600;
  color: white;
}
.contact .fa-envelope-o.contact {
  background: #9C27B0;
  color: white;
}
.contact #emailText,
.contact #linkedinText,
.contact #angellistText {
  display: none;
}
.contact .fa-linkedin:hover + #linkedinText {
  display: inline;
}
.contact .fa-angellist:hover + #angellistText {
  display: inline;
}
.contact .fa-envelope-o:hover + #emailText {
  display: inline;
}
.contact.visible {
  opacity: 1;
}

.blog-home p {
  line-height: 1.25;
}
.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-banner {
  display: flex;
  align-items: center;
  width: calc(100vw - 400px);
  max-width: 1000px;
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .blog-banner {
    width: calc(100vw - 100px);
  }
}
@media (max-width: 400px) {
  .blog-banner {
    flex-direction: column-reverse;
  }
}
.blog-bio {
  max-width: 870px;
}
.blog-headshot {
  height: 340px;
  min-width: 300px;
  margin-left: 60px;
  border-radius: 50%;
}
@media (max-width: 400px) {
  .blog-headshot {
    margin-left: 0;
    height: 226.7px;
    min-width: 200px;
  }
}
.blog-posts-list {
  width: calc(100vw - 600px);
  max-width: 900px;
}
@media (max-width: 1000px) {
  .blog-posts-list {
    width: calc(100vw - 300px);
  }
}
@media (max-width: 400px) {
  .blog-posts-list {
    width: calc(100vw - 32px);
  }
}
.blog-post__preview {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}
.blog-post__preview:last-child {
  border-bottom: unset;
}
.blog-post__preview-title a:hover {
  text-decoration: underline;
}
.blog-post {
  width: 70vw;
  max-width: 700px;
  margin-top: 60px;
}
@media (max-width: 400px) {
  .blog-post {
    width: calc(100% - 32px);
  }
}
.blog-post p {
  line-height: 1.5;
}

.tag-1 {
  background: black;
  border-radius: 5px;
  padding: 2px 6px;
  color: white;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
